.buy-btn {
  // width: 328px;
  // height: 69px;
  background: $light-green;
  box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
  border-radius: 40px;
  color: $white;
  font-family: $raleway;
  font-weight: bold;
  &:hover {
    background: linear-gradient(90.14deg, #B0D3CE -2.41%, #FFEDCE 99.79%);
    color: $dark-green;
  }
}
