.content {
  &__head {
    margin: auto;
    padding-top: 200px;
    text-align: center;
    display: grid;
    align-items: end;
  }
  &__subtitle {
    font-size: 50px;
    padding: 19px;
    text-transform: uppercase;
    color: $light-green;
  }
  &__text {
    padding-bottom: 34px;
    font-family: $raleway;
  }
  &__btn {
    margin: 0 auto;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__section {
    display: grid;
    grid-template-columns: repeat(3, 152px);
    justify-content: space-between;
    align-items: center;
    width: 40%;
  }
  .column {
    text-align: center;
    &:first-child, &:nth-child(3) {
      padding-top: 40px;
    }
    &__head {
      &_yellow, &_soft-green, &_light-green {
        cursor: pointer;
        display: grid;
        align-items: center;
        justify-content: center;
        height: 152px;
        border-radius: 50%;
        box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
        -webkit-transition: .8s ease-in-out;
          transition: transform .8s ease-in-out;
        &:hover {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      &_yellow {
        background: $soft-yellow;
      }
      &_soft-green {
        background: $soft-green;
      }
      &_light-green {
        background: $light-green;
      }
    }
    &__title {
      font-weight: bold;
      text-transform: uppercase;
    }
    &__subtitle {
      font-family: $raleway;
    }
  }
  &__image {
    align-self: flex-end;
  }
}
