.content-section {
  &__wrapper {
    display: grid;
    grid-template-rows: 500px 500px;
  }
  &__head {
    display: grid;
    grid-template-rows: 115px 75px 55px 70px;
    text-align: center;
    margin: auto auto 0 auto;
    width: 700px;
    height: 350px;
  }
  &__caption {
    
  }
  &__tagline {
    font-size: 50px;
    font-family: $cormorant;
    color: $light-green;
    text-transform: uppercase;
  }
  &__text {
    font-family: $raleway;
    font-size: 14px;
  }
  &__button {
  }
  &__aside {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 460px 1000px 440px;
  }
  &__pic_left {
    height: 500px;
    display: flex;
    align-items: flex-end;
  }
  &__desc {
    display: grid;
    grid-template-columns: 300px 380px 300px;
    text-align: center;
    align-items: center;
  }
  &__pic_rught {
    display: grid;
    justify-content: right;
    align-items: center;
  }
}

.buy-button {
  width: 328px;
  height: 69px;
  font-weight: bold;
  background: $light-green;
  border-radius: 40px;
  color: $white;
  font-family: $raleway;
  font-size: 14px;
  box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
  &:hover {
    color: $dark-green;
    background: linear-gradient(90.14deg, #B0D3CE -2.41%, #FFEDCE 99.79%);
    box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
    border-radius: 40px;
  }
}

.column {
  &__wrapper {
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 152px;
    height: 152px;
    background-color: violet;
    border-radius: 50%;
    margin: auto;
    box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
     &.hedgehog {
      background-color: $soft-yellow;
      margin-top: 50px;
    }
    &.syringe {
      background-color: $soft-green;
    }
    &.heart {
      background-color: $light-green;
      margin-top: 50px;
    }
  }
  &__title {
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto;
  }
  &__subtitle {
    line-height: 22px;
    margin: auto;
    width: 210px;
    font-family: $raleway;
  }
}

