.header {
  &__body {
    margin: auto;
    max-width: 1790px;
    padding-top: 2.1rem;
    display: grid;
    grid-template-columns: 40% 60%;
  }
  &__logo {
    &:hover {
      content: url('../assets/logo-hover.webp');
    }
  }
  &__content {
    display: inherit;
    grid-template-columns: 51% 1fr 10%;
    align-items: end;
    justify-content: space-between;
  }
  &__contact {
    display: grid;
    width: 70%;
    grid-template-columns: 30% 1fr;
    justify-self: end;
    align-items: center;
  }
  
  &__cart-wrap {
    align-self: center;
    justify-self: end;
  }
}
