.header {
  &__body {
    margin: auto;
    max-width: 1790px;
    padding-top: 2.1rem;
    display: grid;
    grid-template-columns: 40% 60%;
  }
  &__logo {
    &:hover {
      content: url('../assets/logo-hover.webp');
    }
  }
  &__content {
    display: inherit;
    grid-template-columns: 51% 44% 5%;
    align-items: end;
    justify-content: space-between;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    line-height: 19px;
    font-weight: bold;
    cursor: pointer;
  }
  &__contact {
    display: grid;
    grid-template-columns: 20% 50%;
    justify-content: end;
    align-items: center;
    &-tel {
      font-size: 22px;
      font-family: $raleway;
      font-feature-settings: 'pnum' on, 'lnum' on;
    }
  }
  
  &__cart-wrap {
    align-self: center;
  }
}
