.header {
  &__wrapper {
    max-width: 1800px;
    margin: 35px auto;
    display: flex;
    justify-content: space-between;
    
  }
  &__burger {
    display: none;
    z-index: 999999;
  }
  &__logo {
    .logo-hover {
      display: none;
      width: 122px;
      height: 57px;
    }
    &:hover {
      .logo-hover {
        display: block;
      }
      .logo {
        display: none;
      }
    }
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .list {
    font-weight: bold;
    &__wrapper {
      ul {
        display: flex;
        .triangle-container {
          width: 25px;
          height: 25px;
          .triangle {
            &_active {
              display: none;
            }
          }
        }
        .catalog {
          &__dropdown {
            background-color: #fff;
            display: grid;
            position: absolute;
            width: 169px;
            height: 173px;
            box-shadow: 4px 4px 20px #C2CCCA;
            border-radius: 8px;
            top: 90px;
            li {
              margin: 9px 24px;
              box-shadow: none;
              text-shadow: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      & li {
        cursor: pointer;
        margin-right: 100px;
        align-items: center;
        display: flex;
        &:hover {
          box-shadow: inset 0 0px 0 white, inset 0 -1px 0 $dark-green;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
  .phone {
    &-dropdown {
      display: none;
    }
    &__wrapper {
      font-family: $raleway;
      display: grid;
      grid-template-columns: 85px 210px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      margin-right: 90px;
    }
    &__logo {
      grid-column: 1;
      grid-row: 1/3;
      width: 69px;
      height: 69px;
    }
    &__caption {
      text-decoration-line: underline;
      font-size: 14px;
      display: flex;
      align-items: center;
      margin-bottom: -5px;
    }
    &__number {
      font-size: 22px;
    }
  }
  
  
}

@media (max-width: 320px) {
  .header {
    .hide {
      opacity: 0;
      display: none;
    }
    &__burger, .show {
      display: block;
      opacity: 1;
      
    }
    &__wrapper {
      margin-top: 20px;
      max-width: 280px;
      align-items: center;
    }
    &__logo {
      width: 56px;
      height: 26px;
      z-index: 999999;
      img.logo {
        height: 100%;
        margin-left: 25px;
      }
      img.logo-hover {
        width: 56px;
        height: 100%;
        margin-left: 25px;
      }
    }
    &__list{
      display: none;
    }
    .list {
      &__wrapper ul {
        display: block;
        position: absolute;
        background: $white;
        left: 0;
        top: -15px;
        padding: 100px 40px;
        width: 210px;
        height: 280px;
        border-radius: 0px 10px 10px 0px;
        li {
          margin: 20px 0;
        }
        span {
          display: none;
        }
        .catalog ul{
          width: 150px;
          height: 200px;
          padding: 0;
        }
      }
    }
    .phone {
      width: 40px;
      &__caption, &__number {
        display: none;
      }
      &__logo {
        width: 35px;
        height: 35px;
      }
      &-dropdown {
        position: absolute;
        left: 30px;
        top: 400px;
        &__wrapper {
          font-family: $raleway;
          font-feature-settings: 'pnum' on, 'lnum' on;
          font-weight:normal;        
        }
        &__caption {
          text-decoration-line: underline;
          font-size: 14px;
          display: flex;
          align-items: center;
        }
        &__number {
          font-size: 22px;
        }
      }
    }
    &__cart img{
      margin-top: 3px;
      width: 26px;
      height: 26px;
    }
    
  }
}