.reminder {
  &__wrapper {
    margin: 10% auto;
    max-width: 350px;
  }
  &__title {
    display: flex;
    font-weight: bold;
    font-size: 24px;
  }
  &__bottom-text {
    max-width: 200px;
    margin: auto;
    text-align: center;
    font-family: $raleway;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }
}