.request {
  &__wrapper {
    max-width: 1200px;
    margin: auto;
    border-radius: 30px;
    background: $swamp-green;
  }
  &__body {
    position: relative;
    margin: inherit;
    padding: 40px 40px 80px 40px;
  }
  &__title {
    font-size: 45px;
    font-weight: bold;
  }
  &__form {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 30px 0;
  }
  &__button {
    margin-left: 0.5%;
  }
  &__checks {
    display: inherit;
    padding-left: 15%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    font-size: 14px;
  }
  &__mark, &__name {
    cursor: pointer;
  }
  .request-input{
    &::placeholder {
    color: $dark-green;
    }
    padding: 24px;
    border-radius: 8px;
  }
  &__questionnaire {
    display: grid;
    grid-template-columns: repeat(auto);
    column-gap: 20px;
    row-gap: 15px;
  }
  &__comment {
    grid-column: 1 / 4;
  }
  &__btn {
    position: absolute;
    padding: 40px;
    margin: auto;
    left: 30%;
  }
  .buy-btn {
    width: 328px;
    height: 69px;
  }
}

@media (max-width: 1200px) {
  .request {
    &__btn {
      display: flex;
    }
  }
}

@media (max-width: 992px) {
  .request {
    &__wrapper {
      border-radius: 0;
    }
    &__body {
      padding-bottom: 30px;
    }
    &__form {
      grid-template-columns: 50% 50%;
    }
    &__checks {
      grid-template-columns: none;
      grid-template-rows: none;
    }
    &__btn {
      padding: 25px 0 0 0;
      position: static;
      margin: auto 30%;
    }
  }
}

@media (max-width: 768px) {
  .request {
    &__body {
      padding: 20px;
    }
    &__questionnaire {
      display: flex;
      flex-wrap: wrap;
      input {
        width: 100%;
      }
    }
    &__title {
      font-size: 24px;
    }
    &__form {
      margin: auto;
      width: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.5fr;
    }
    &__checks {
      padding: 20px 0;
      grid-template-rows: 30px 30px 30px 30px;
    }
    &__button {
      margin: 10px 0;
    }
    .buy-btn {
      width: 280px;
      height: 69px;
    }
    &__btn {
      margin: auto 10%;
    }
  }
}

