.slider {
  &__wrapper {
    max-width: 1300px;
    padding-left: 50px;
    margin: auto;
  }
  .slick-list {
    padding: 20px 0;
  }
  &__slide {
    margin: 0 30px;
  }
  .slide {
    max-width: 570px;
    height: 397px;
    border-radius: 20px;
    &__wrapper {
      height: 100%;
      display: grid;
      grid-template-columns: 40% 60%;
      background: linear-gradient(-45deg, $white 50px, transparent 0);
    }
    &__sale-badge {
      padding: 6px;
      background: $light-green;
      font-family: $raleway;
      color: $white;
      font-feature-settings: 'pnum' on, 'lnum' on;
      font-size: 1.25rem;
    }
    &__column {
      &-info {
        padding-left: 60px;
      }
      &-depiction {
        display: grid;
        position: relative;
        grid-template-rows: 60px 50px;
        justify-items: right;
        align-items: center;
        row-gap: 72%;
      }
    }
    &__text {
      padding-top: 30px;
      height: 60%;
    }
    &__title {
      font-weight: bold;
      font-size: 2.5rem;
    }
    &__subtitle {
      font-family: $raleway;
      color: $black;
    }
    &__old-price {
      text-decoration-line: line-through;
      font-size: 1.25rem;
      color: $grey;
    }
    &__new-price {
      font-size: 2.5rem;
      font-weight: bold;
    }
    &__info-block-min {
      display: none;
    }
    &__info-badge {
      padding: 19px;
      cursor: pointer;
      img {
        pointer-events: none;
      }
    }
    &__info-block {
      left: 56%;
      color: $white;
    }
    &__image {
      position: absolute;
      bottom: 0;
      right: -50px;
    }
  }
  .slick-prev:before {
    content: url('../assets/arrow-left.svg');
}
  .slick-next:before {
    content: url('../assets/arrow-right.svg');
  }
}

@media (max-width: 1440px) {
  .slider {
    &__wrapper {
      max-width: 1100px;
      margin: auto;
      padding-left: 10px;
    }
  }
}

@media (max-width: 768px) {
  .slider {
    .slide {
      max-width: 240px;
      &__wrapper {
        grid-template-columns: 60% 40%;
      }
      &__column {
        &-info {
          padding-left: 30px;
        }
      }
      &__text {
        padding: 30px 0;
      }
      &__sale-badge {
        padding: 6px;
        font-size: 0.75rem;
      }
      &__title {
        font-size: 1.875rem;
      }
      &__subtitle {
        font-size: 0.75rem;
      }
      &__image {
        width: 177px;
        right: -50px;
        bottom: 50px;
      }
      &__info-badge {
        display: none;
      }
      .info-block-min {
        display: inline-flex;
        font-family: $raleway;
        font-size: 0.625rem;
        &__text {
          display: flex;
          padding: 5px;
          img {
            width: 10px;
          }
        }
      }
    }
  }
}

