.slider {
  &__wrapper {
    max-width: 1300px;
    padding-left: 50px;
    margin: auto;
  }
  &__slide {
    border-radius: 20px;
  }
  .slide {
    margin: 30px;
    max-width: 570px;
    &__wrapper {
      margin: auto;
      display: grid;
      grid-template-columns: 40% 1fr;
      background: linear-gradient(-45deg, $white 50px, transparent 0);
      padding-top: -6px;
    }
    &__sale-badge {
      padding: 6px;
      background: $light-green;
      font-family: $raleway;
      color: $white;
      font-feature-settings: 'pnum' on, 'lnum' on;
      font-size: 1.25rem;
    }
    &__column {
      &-info {
        padding-left: 60px;
      }
      &-depiction {
        display: grid;
        grid-template-rows: 60px 300px 40px;
        position: relative;
      }
    }
    &__text {
      padding-top: 20px;
    }
    &__title {
      font-weight: bold;
      font-size: 2.5rem;
      margin: 20px 0;
    }
    &__subtitle {
      font-family: $raleway;
      color: $black;
    }
    &__old-price {
      color: $grey;
      text-decoration-line: line-through;
      font-size: 1.25rem;
    }
    &__new-price {
      font-size: 2.5rem;
      font-weight: bold;
    }
    &__info-badge {
      margin-left: 65%;
      padding: 19px 0 0 19px;
      cursor: pointer;
      img {
        pointer-events: none;
      }
    }
    &__info-block {
      
      left: 46%;
      color: $white;
    }
    &__add-button {
      margin-left: 75%;
    }
  }
  .slick-prev:before {
    content: url('../assets/arrow-left.svg');
}
  .slick-next:before {
    content: url('../assets/arrow-right.svg');
  }
}