@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;700&display=swap');

@import './variables-mixins.scss';

@import './container.scss';
@import './header.scss';
@import './content-section.scss';
@import './panel-section.scss';
@import './footer.scss';

body {
  color: $dark-green;
  font-family: $cormorant;
  width: 100%;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  outline: none;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

input {
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
}

#popup {
  display: none;
  position: fixed;
  top: -40%;
  right: 0;
  bottom: 0;
  left: 35%;
  justify-content: center;
  z-index: 999;
}

#popup::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.popup__container {
  display: inline-block;
  background: #fff;
  font-size: 12px;
  border-radius: 10px;
  width: 579px;
  height: 596px;
  box-shadow: 9px 9px 99px 9px rgba(0, 0, 0, .4);
}


.popup {
  &__wrapper {
    font-family: $raleway;
    margin: 51px auto;
    max-width: 440px;
    height: 490px;
    display: grid;
    justify-content: space-between;
  }
  &__close-button {
    margin-top: -40px;
    margin-left: 450px;
    color: $dark-green;
  }
  &__headline {
    font-family: $cormorant;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    text-align: center;
    width: 440px;
  }
  &__dropdown{
    width: 440px;
    color: $dark-green;
    background-color: $light-grey;
    border-radius: 3px;
    padding: 4px 11px;
    border: 1px solid $light-green;
    outline-color: $light-green;
    margin-bottom: 30px;
  }
  &__input {
    width: 413px;
    color: $dark-green;
    background-color: $light-grey;
    border-radius: 8px;
    height: 62px;
    padding-left: 27px;
    outline: none;
  }
  &__checkbox {
    label {
      font-size: 12px;
    }
  }
  &__button {
    background-color: $light-green;
    width: 441px;
    height: 69px;
    box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
    border-radius: 40px;
  }
  &__warning {
    font-size: 10px;
    line-height: 12px;
    padding-left: 30px;
  }
  
}