@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;700&display=swap');

@import './variables-mixins.scss';

@import './container.scss';
@import './header.scss';
@import './content.scss';
@import './buy-button.scss';

body {
  color: $dark-green;
  font-family: $cormorant;
  width: 100%;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  outline: none;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

input {
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
}

