// colors

$dark-green: #195557;
$light-green: #70908B;
$soft-green: #E2F0DF;
$swamp-green: #EAEEEF;

$black: #000;
$white: #fff;
$grey: #C2CCCA;

$soft-yellow: #FFEDCD;
$light-grey: #F8F8F8;


//fonts

$cormorant: 'Cormorant Infant', serif;
$raleway: 'Raleway', sans-serif;
$cormorant:'Cormorant Infant', serif;
